/* * { border: 1px solid red; } */

@font-face {
  font-family: 'TAHOMA'; 
  src: url(./fonts/TAHOMA.TTF);
}

body {
  background:url(images/windows_images/windows_background.jpg);
  background-size:cover;
  font-family:'TAHOMA', sans-serif;
  overflow:hidden;
}
#container {
  width:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-items: center;
  margin: 0 auto;
}

h1 {
  text-align:center;
  font-weight: bold;
  font-size:2rem;
  letter-spacing: 0.5rem;
  text-shadow: 0.1rem 0.1rem  #1d3557;
  color: #f4f8f8;
  margin-bottom:10px;
}

.score-info p {
  font-size: 1.7rem;
  font-weight:bold;
}

.score-info p .timer {
  font-size: 1.7rem;
  font-weight:bold;
}

/*The following defines the styling for the window border.*/

.window-content {
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius:5px 5px 0 0;

  justify-self: center;

  width:800px;
  /* margin:1rem 30rem 3rem 30rem; */

  border-color: #0072ef #01279e #01279e #0236d8;

  display: grid;
  grid-template: 1fr 1fr 1fr;

  background:
    linear-gradient(to right, #034fe1, #1682f2 1px, #006ee4 2px, rgba(0,0,0,0) 3px),
    linear-gradient(to left, #0034b0, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px),
    linear-gradient(to top, #0034b1, #0056e1 1px, #0064f4 2px, rgba(184, 28, 28, 0) 3px)
    ;
    background-color: #dcdcdc;

  *{
    cursor: default;
  }
}

#welcome{
  background: #006fea;
  line-height: 32px;
  height:30px;
  position:relative;
  margin:0;
  padding:0;
  border-radius:3px 3px 0 0;
  background-image:
    linear-gradient(to right, #0050db, rgba(255,255,255,.1) 4px, rgba(255,255,255,0) 200px),
    linear-gradient(to left, #0034b0, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px),
    linear-gradient(to bottom, #4aa9ff, #33a4ff 1px, #008aff 2px, #007ef4 3px, #0075f0 4px, rgba(0,0,0,0) 5px),
    linear-gradient(to top, #005dd9, #0067e9 1px, #007afb 2px, #0081fb 3px, rgba(0,0,0,0) 4px);

  padding-left:8px;
  

  grid-row-start: 1;
  /* grid-row-end: 4; */
  grid-column-start: 1;
  grid-column-end: 4;
}

h2{
  font-family: sans-serif;
  color:white;
  font-weight: normal;
  font-size:14px;
  text-shadow: 1px 1px 0 #0a2a95;
}

.close{
  position:absolute;
  right: 6px;
  top: 6px;
  height: 19px;
  padding-left:19px;
  width:0;
  overflow:hidden;
  border:1px solid white;
  border-radius: 3px;
  background:
    radial-gradient(circle at 20px 20px, #e84f00, rgba(255,255,255,0)),
    radial-gradient(circle at -5px -5px, white, rgba(255,255,255,.3), rgba(255,255,255,0)),
    linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0)),
    linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0))
    ;
  background-color: #e81000;
}

.close:after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  border:1px solid rgba(33,0,0,0.2);
  border-radius: 2px;
} 
  
.close:before{
  content:"×";
  position:absolute;
  left:1px;
  top:-9px;
  color: white;
  text-shadow:none;
  font-size:23px;
}

/*box styling*/

.grid-container{
  flex:1;
  margin: 1rem;
  padding: 1rem;
  /* border: 1px solid rgb(166, 212, 252);
  background-color: rgb(239, 153, 248); */

  grid-row-start: 2;
  width: 30rem;
  height:30rem;

  display: grid;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 2.7rem;
  grid-template-columns: repeat(4, 4.5rem);
  /* grid-template-rows: repeat(2, calc(140px / 2 * 3)); */
}

/* The following is styles for the right bar.*/

.right-bar {
  background-color: rgb(199, 199, 199);
  box-shadow: inset -0.2em 0.2em 0.2em -0.1em  rgba(255, 255, 255, 1), inset 0.2em 0.2em 0.2em -0.1em rgba(0,0,0,0.4);

  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 4;

  margin: 2rem 2rem 2rem 0rem;
}

#right-bar-display {
  display: block;

  height: 315px;
  width: 200px;
  margin-left:17px;
  border-style:inset;
  border-width:5px;
}

#right-bar-display-2 {
  background-color: black;
  color: white;
  display: block;
  font-family: Tahoma;

  height: 315px;
  width: 200px;
  
  margin-left:17px;
  border-style:inset;
  border-width:5px;

  list-style: decimal;
  }

#right-bar-display-2 {
     
}

.score-info {
  padding:1rem;
}

/*card styles/////////////////////////////////////////////////////////////////////////*/
.card{
/* height: calc(140px / 2 * 3); */
height: 6rem;
width: 6rem;
grid-gap: 0.2rem;

border-radius: 15px;
background-color: white;

position: relative;
transform-style: preserve-3d;
transition: all 0.5s ease-in-out;
}
.front-image{
width: 60px;
height: 60px;
left:-100%;
}
.card.flipped{
transform: rotateY(180deg);
}

.front,.back{
backface-visibility: hidden;
position: absolute;
border-radius: 8px;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.card .front{
display: flex;
justify-content: center;
align-items: center;
transform: rotateY(180deg);
}

.card .back{
background-image: url("images/windows_images/card_back.png");
background-position: center center;
background-size: cover;
backface-visibility: hidden;
}

.actions {
display: flex;
flex-grow: initial;
justify-content: space-around;

}

.btn-primary {
display: flex;
text-shadow: 0 0 2px rgba(0,0,0,.3);
font-family: Tahoma;
border-color: rgb(145, 144, 144);

background-color: rgb(199, 199, 199);
box-shadow: 
inset 0.2em 0.2em 0.3em -0.1em  rgba(255, 255, 255, 1), 
inset 0.2em 0.2em 0.3em -0.1em rgba(0,0,0,0.4),
inset 0.2em 0.2em 0.2em -10em rgba(0,0,0,5),
inset -0.2em -0.2em 0.2em -1em rgba(0,0,0,5);
}

.btn-primary img{
width: 3rem;
}

/* Windows tool bar///////////////////////////////////////////// */
.tool-bar {
  background: #006fea;
  line-height: 32px;
  height: 2.55rem;

  background-image:
    linear-gradient(to right, #0050db, rgba(255,255,255,.1) 4px, rgba(255,255,255,0) 200px),
    linear-gradient(to left, #0034b0, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px),
    linear-gradient(to bottom, #4aa9ff, #33a4ff 1px, #008aff 2px, #007ef4 3px, #0075f0 4px, rgba(0,0,0,0) 5px),
    linear-gradient(to top, #005dd9, #0067e9 1px, #007afb 2px, #0081fb 3px, rgba(0,0,0,0) 4px);

  padding-left: 100%;
  margin-right: 0;
  position: absolute;
  cursor:pointer;
  bottom:0px;
  left: 0;
  overflow:hidden;

}

/*START BUTTON /////////////////////////////////////////////////*/

.btn-start-menu {
  margin-left: 0;
  padding-left: 0;
  position: absolute;
  cursor:pointer;
  bottom:0px;
  left: 0;

  background-color:transparent;
  border-style:none;
  overflow:hidden;

  /* background: url("./images/windows_images/start_button.png"); */
}

.btn-start-menu img:hover{
  content: url("./images/windows_images/start_hover.png");
}

.btn-start-menu img:active{
  content: url("./images/windows_images/start_click.png");
}

/* Other buttons in start menu ///////////////////////////*/
.btn-menu-content {
  font-family: Tahoma;
  position: absolute;
  cursor:pointer;

  left: 0; /* dissapears after I change this value, same with right: */

  width: 8rem;
  height: 2.5rem;

  background-color:transparent;
  border-style:none;
  overflow:hidden;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0.25rem;
}

.btn-menu-content img {
  width: 2rem;
  height: 2rem;
  margin: 0rem 1rem 0rem 0rem;

  grid-column-end: 2;
  grid-area: 1 / 1 / 2 / 2;
}

.btn-menu-content p {
  
  color: white;
}

.btn-menu-content #line1{
  background-color: rgb(255, 255, 255);
  width: 8rem;
  grid-area: 2 / 1 / 4 / 5;
}

.btn-menu-content #line2{
  background-color: rgb(255, 255, 255);
  width: 8rem;
  grid-area: 2 / 1 / 4 / 5;
}

.btn-menu-content #text-content1{
  color: white;
  grid-area: 1 / 2 / 3 / 4;

}

.btn-menu-content #text-content2{
  color: white;
  grid-area: 1 / 2 / 3 / 4;

}

.btn-menu-content:active{
  background-color: #0034b0;
}

#btn-restart {
  margin: 0.1rem 0 0 9rem;
}

#btn-rank {
  margin: 0.1rem 0 0 19rem;
  overflow:hidden;
}


/* When the player wins///////////////////////////////////////////////////////// */
#win-window {
  /* background-color: #e81000; */

  position: absolute;
  z-index: 2;

  width: 40rem;
  height: 20rem;
  /* background-color: #0034b1; */

  top:25%;
  right: -60%;
  animation: left-to-right 10s;
}

#win-window img{
  width: 100%;
  height: 15rem;
  transform: scaleX(-1);
}

#win-window p {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,144,0,1) 22%, rgba(255,244,0,1) 44%, rgba(90,214,23,1) 62%, rgba(0,177,233,1) 81%, rgba(76,0,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 1px #ffffff; */
  text-shadow: -2px -2px 1px rgb(0, 0, 0);
  /* border: 3px solid #ffffff; */

  font-size: 3rem;
}

@-webkit-keyframes left-to-right {
  0% {
    right: -60%;
  }

  97%{
    opacity: 100%;
  }
  100% {
    right: 100%;
    opacity: 0%;
    display: none;
  }
}