/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
@font-face {
  font-family: xp; src: url(./fonts/TAHOMA.TTF);
}

body {
  font-family: xp;

  min-height: 100vh;
  min-width: 100vw;
  background-color: #1d3557;
  color: white;
}

h1{
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

p{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.actions{
  /* might want to change to grid in future */
  display: flex;
  justify-content: center;
}

.actions button{
  padding: 8px 16px;
  font-size: 30px;
  border-radius: 5px;
}

.grid-container{
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card{
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 8px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image{
  width: 60px;
  height: 60px;
}

.card.flipped{
  transform: rotateY(180deg);
}

.front,.back{
  backface-visibility: hidden;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .front{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card .back{
  background-image: url(./images/backplaceholder.jpg);
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}



/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
